body {
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    color: #000;
    background-color: bisque;
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    border-radius: 300px;
    width: 300px;
    margin: 100px auto;
}